.father {
  display: flex; /* defalt flex-direction: row */
  /* Main Axis */
  justify-content: space-around;
  align-content: center;
  height: 100vh;
}

.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
  font-size: 22px;

  /* 숫자들 가운데로 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background: #000;
  flex-grow: 2;
}

.child:nth-child(3) {
  flex-grow: 3;
}
